@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$dark-grey: rgb(23, 23, 23);
$medium-grey: rgb(50, 50, 50);
$light-grey: rgb(128, 128, 128);
$blue: rgb(20, 114, 255);
$light-blue: rgb(71, 148, 255);

body {
  background-color: $dark-grey;
  color: white;
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end; 
  padding: 0em 1em;
}

.chat-header {
  text-align: center;
  border-bottom: 1px solid $medium-grey;
}

.chat-log {
  height: 100%;
  overflow-y: scroll;
}

.chat-message {
  font-size: 0.8em;
  display: flex;
  padding: 1em 0em 0em;
  align-items: center;
}

.colored {
  color: $light-blue;
}

.chat-footer {
  left: 0;
  bottom: 0;
  height: 10ch;
  padding-bottom: 0.5em;
}

.message-input{
  background-color: $medium-grey;
  color: white;
  width: 100%;
  padding: 1em;
  border: none;
}

.username-input{
  background-color: $medium-grey;
  color: white;
  margin-top: 1em;
  padding: 1em;
  border: none;
}

.submit-input {
  color: white;
  background-color: $blue;
  margin-top: 1em;
  padding: 1em;
  border: none;
  font-weight: bold;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}